{
    "os.environ": {
        "comments":  [
            "The `os.environ` key is a dict of environment variables that should be created prior to testing",
            "the general structure of this dict should look something like this: env_vars['os.environ']['destination_container']"
        ],
        "test_destination": {
            "PRIMARY_TEST_CONN_STR": "DefaultEndpointsProtocol=https;AccountName=from_the_town_of_bedrock;AccountKey=hAVE+4+Ya8Ado/time+a+DAb4do/TIME+a+/Y4b4/d484/d0+tIMe==;EndpointSuffix=flintstones.meet.the.flintstones.net",
            "INTERVALS": ["hourly","daily","weekly","monthly","yearly"],
            "PATH_PARTS":["protocol","host","container","interval","media_type","fname_prefix","fname"],
            "COMPLETE_REMOTE_PATH_TEMPLATE": "{protocol}://{host_name}/{container_name}/{interval}/{media_type}/{fname_prefix}{fname}"
        }
    },
    "dummy_vals": {
        "comments": [
            "This is where we define container names and the blob paths under those containers for use in testing."
        ],
        "container_names": [
            "fred-of-buffalo-lodge",
            "barney-of-buffalo-lodge",
            "wilma-of-impossibly-good-figure",
            "betty-of-impossibly-good-figure"
        ],
        "fname_template": {
            "comments": [
                "this dict is used by tests/unittests/excluded_env_config/build_out_dummy_env.py",
                "to build a mock environment for testing."
            ],
            "optional_directory_prefix": "{interval}/mysql",
            "format_string": ["{child}{sep}{disposition}{sep}{item_type}.{extension}"],
            "template_parts": {
                "sep": ".",
                "child": "pebbles|bambam",
                "disposition": "likes|hates",
                "item_type": "dinosaurs|caves|cave_paintings",
                "extension": "txt"
            }
        }
    }
}
