sudo: required
env:
  matrix:
    - PLATFORM=centos OS_VERSION=6 DOCKER_IMAGE=centos:centos6
    - PLATFORM=centos OS_VERSION=7 DOCKER_IMAGE=centos:centos7
    - PLATFORM=debian OS_VERSION=jessie DOCKER_IMAGE=debian:jessie
    - PLATFORM=ubuntu OS_VERSION=trusty DOCKER_IMAGE=ubuntu:trusty
  global:
    - secure: "d0AVTcPpXkR6wbEtuVsLOA7Dft2rpYGeTFhJQlHZgywzsdnygKnZG1Qb+O3a1H4pkZQcFlIBZePRWgM5j0pblwdIHhu84jrnOZw+jcfXf7twOKqNogKlrNS2LSCDA3VDqS18iQO04mSXru8jfLa7VOcnvcKUJ24Bp/t2P0GBe0ipiT4/lZuvBfNYdr2asm5Ydn8EcK5C8r9aqmxb2KzlDDRsKu+LF41E+9szgXOQqeRqDxamOsrT8KkMrVRCvpQIXiuOjUXGKu8JjebPzoh1MuUROLMYB665UN4SEtSd6YDNtcX/bHABNjO2VqNo9na2GePGs1ijtjBN4W9aoSj8qH0S2FkQ7lSBwJS8Jx3dc8n6zTMdw6MB2NI8/7Jvq2cqK1nBEqKtJmfmab/2RZamduI7jG2i+5xYvkuEu+Vyjl2qoFqO9mwhs28EpWpwD4ZoYZw8X7tfbG68S5V0TmrQq7IDfP0Q4wa0EGWv5tp5uL3R1azEG43pUlkbaNNwwATuAeYG1JhqoiNZpMmdLlKYa+F4ExYCGQ5st9QZWApeWqxbZbpbynZoF2ZfXsb2/vrRLG2Y1IDKiRTOEYGbkp6mcCbY8WG4d1e5fp/wFswZFzh/ParflBeV/UzLIKtDMsyCyVRvbbU7KQc10MKuBaYnNVNX/Y7A/5H9aZ9uJ09yFww="
    - secure: "OZDcoqlnqSF5Hnpexb5ktXX0M4qdkECenX2S1ZFqeiIzz5R9GOCrDPmKOs0V/HcLmT51MpLoBAH8MKzN+qbf+vMHSToDn3iLNzKVxl74FrA+fQxgVWcnLGZukKsmfIfzPutAagfXoEroDZFKsadp0iKmsouR4VH64RYuxn2md+9clgeo5Nur09EFErFwXg8cZkil00TpoJ/JZTgBh2Zf/3YgyqWn0WqFIJUvpKMMGRIKQ4rn5qWdP7omEcDw6/cBNcJqgb72WualO2m0lCONghr4hf7Z/eFEx5kxh8Zusi7foDGd4cF/B7lsTtMwSTdMhd8ljC+zzzNllsLKARr3VKxah1poBOiCsscZ/5DhbLrbMRl3wuPRxTJmkebMCk36H68gMqyiLta90JWfZhg2SWCndxgd+ZRBGZVp/YqaKRNsUVlwUA+/2XUtvwgWm80lJsGz2X6Z6y5w7QcDW9U9+zrS97ZzYtJZa/xA6LDFh9/aNeCTVYtpw/UW8J2XzjEgcS4pS2OWXZlbHVGgZdTqjGnW77C8w80X9mxD9CaqZQNxKqUr9LPIb3mzvq3cicqhDKADLdo0oUhfF7jDwEAkAluFNLq59XJ5lb8FX8ydCgG/52TOcVh11pBwmb6kUSqQJLu7dypDBf7e14107k4ZvQpfVirwl7HYad/lsXAdNmQ="
    - secure: "d58cwhPnlgv5M8I7KefkBjr4Fo/no6Tbx82sSKR8MPrKYLfojWqgCi8QC8Fp7+p1C/yQB1sAayA8+PRGoibFQaPfI3Qwtlh9Qg2+Vv0Pf2ETqaBQYn4VuPb482prNBTuHuwCffMOZAFKyRN+DMuCkcRBNhU3otryu5K0eIYLCt60V4YHZWiRNbywebq8zNdWx/TKtiwMrs8sQC5ADdhp6r2FKzasJOy4k5tBlHQEDuHK/Ec2GPeNh+WWqIFHlo/Luhc3c1I8/IgsR404HFXOxUU6aY+iWBH/O3fQ0IxFbAsU3HTnd0Xl0wO37pI+9r9+gjcW51xlu4gRsoOW4nIXtjXoUorP9Wx/yY53kGmqd7lLszJZzAAK5iZEjSmiLNXvVi6Wu32kmrs8gjBv/3IkPzXHwjyBBQwEeOv0OUtdtHYVcIsMvmreIEKDIO0i2bLimrqInwCKvO8XFalYkOxBCmNqztJThWE44kYZepEf5YzbBTkDq3bfWT6sZsOByoRK+fYDfSrgOy1wT6pKtlg9vp7i+Z/1yiW4uQDOSkroXe6NyBhYYanOt3LEBqa5N+zKN1qRLk271TND/8CiW6XDnL3zaF2ejC8tSxw9ZWpFEpC5jT/lvKCP8WhDI850IncgjJlY0i4qvnkwOI+xea+BLH2ix6jmBG349LBe0Y2rsDo="

services:
  - docker

before_install:
  - sudo apt-get update -qq
  - sudo docker pull ${DOCKER_IMAGE}

script:
  - make docker-test

before_deploy:
  - make package

deploy:
  provider: packagecloud
  repository: main
  username: twindb
  token:
    secure: UjT3+/FY+Xw++BbqEgA7pCTN6PIIjtddDiGTu02BsjZwlq0JbF2Qee2RWUoVvKJII+cKIxcZkS1ovySSM8SSGGL1UG3Yu7tbDNU6ayhSAcjmHhKefj8eYDZKfOrDncW6IB2pjQZnMzt5oFYYee5/Hp4N7rP++mBD5oftJ0iYoY1v/OOdkrOde0+tl5vV4u1HyhtmScYIQiuwj/DGggIGAXt3os1pyAkQVtyVvb3HcBMV9tBG5rX7hax/FYWqgGEQUOZHwmQhALcmXrSohqYuSiFyBSxX9cDQ8f8VHKabITu+guMpXVNxwBE7n/YjL3JaKii7163uj7mc/pSmfRRuuPyZab1Of2IndFosFm49f8mwN1076PdJVGjijv+KkGOX1asZ4yh7/lt4TTdPqcDBaEROzp/skBlsEFY01ZBeiTHRNGG9rPXglpUnKQXikMaGCwOz/xqXcq81PwTWzgWAoPN74XIk0GfwYwQGsorCZGk8vcwFzdMCcS5xyGLMEDHBEPp24vxG/1UbWBtpiOwU5JIOKpUbkl5meIgZDaXqd4vyvL9wRv7vUvNn5DkCkAh5w7Mp2ACYU34iJb2SVvazKFmRvebXSXFoCSBkFBvTGAqzJoCxhlYhgDjOaRwUPZNaKMy86iCzOQjn3g5WpKBUEvf+eMk0ZVLf3P9mAOTOcqI=
  dist: ${PLATFORM}/${OS_VERSION}
  skip_cleanup: true
  local-dir: pkg

notifications:
  slack:
    secure: "dKHhMOyQWZtaZZeaBgOvgk5natVRelxMcryvmjeqG/odTCfJXCD5geodYPsGLmkvA1qRdplGsGRmJnYEsUHeGTpUh3rlUd+j9iQ+pDcSD7d9EisL0lQji/DFek85NcMAXtiyNeKio5aukNXbGJT1cY4oHv/H2agk2TPC6hMKdDUk5hTpDKk4SAeHqpPYQzA5kthCCO+0y5Eh8zW5fiiH8FN+eID4FTt110bPDz3mNC4tzKExWw18dSB5m8ZxFQKQID8ZRedesBsGBdn4TMRObhjSwQOXIrV/Dif6BZjadA9MNoBvcQT6pCTmc4z0UVFR6MRVrIPwiIqaVI7jKp1ZUtVPVEa+Fui0TwRRSxPb78SCjKHc2jaVgsdxDE9Hk+0CXpZTUC4QG4+vBL0c4Ile2/qlhEXfIth6uOwzxyoNJ2zwxZarKpw3YvLKg23g7ZxfjAAGg4S8VUsNcaiSfGbSPAqQNa63KribP2Rp9/3IBNbuKwYvHyS8CxcAstTIKZkZg5BvRhDb1sv1UAyLum0qLI7e2Oz3SBAO+9ejoV5gnxl7iab89bg5XxuJiSjtcbwT3TNJ34ZdtWh/vnOjsz68DG71dK9VQ4rzg4/gpMY3YWARbKc/GTNUhBOeTtH0tmKWLEATP4VIHinu+QuBzs/9QlGqy1LhB2Ct4XkXPL3uMEk="
