sudo: required
env:
  matrix:
    - PLATFORM=centos DISTRO=el OS_VERSION=7 DOCKER_IMAGE=centos:centos7
    - PLATFORM=debian DISTRO=debian OS_VERSION=jessie DOCKER_IMAGE=debian:jessie
    - PLATFORM=ubuntu DISTRO=ubuntu OS_VERSION=trusty DOCKER_IMAGE=ubuntu:trusty
    - PLATFORM=ubuntu DISTRO=ubuntu OS_VERSION=xenial DOCKER_IMAGE=ubuntu:xenial
services:
  - docker

before_install:
  - sudo apt-get update -qq
  - sudo docker pull ${DOCKER_IMAGE}

script:
  - sudo make bootstrap
  - make test-integration-clone
  - sudo make test-integration-backup-ssh
  - make docker-test

before_deploy:
  - travis_wait 30 make package

deploy:
  provider: packagecloud
  repository: main
  username: twindb
  token:
    secure: UjT3+/FY+Xw++BbqEgA7pCTN6PIIjtddDiGTu02BsjZwlq0JbF2Qee2RWUoVvKJII+cKIxcZkS1ovySSM8SSGGL1UG3Yu7tbDNU6ayhSAcjmHhKefj8eYDZKfOrDncW6IB2pjQZnMzt5oFYYee5/Hp4N7rP++mBD5oftJ0iYoY1v/OOdkrOde0+tl5vV4u1HyhtmScYIQiuwj/DGggIGAXt3os1pyAkQVtyVvb3HcBMV9tBG5rX7hax/FYWqgGEQUOZHwmQhALcmXrSohqYuSiFyBSxX9cDQ8f8VHKabITu+guMpXVNxwBE7n/YjL3JaKii7163uj7mc/pSmfRRuuPyZab1Of2IndFosFm49f8mwN1076PdJVGjijv+KkGOX1asZ4yh7/lt4TTdPqcDBaEROzp/skBlsEFY01ZBeiTHRNGG9rPXglpUnKQXikMaGCwOz/xqXcq81PwTWzgWAoPN74XIk0GfwYwQGsorCZGk8vcwFzdMCcS5xyGLMEDHBEPp24vxG/1UbWBtpiOwU5JIOKpUbkl5meIgZDaXqd4vyvL9wRv7vUvNn5DkCkAh5w7Mp2ACYU34iJb2SVvazKFmRvebXSXFoCSBkFBvTGAqzJoCxhlYhgDjOaRwUPZNaKMy86iCzOQjn3g5WpKBUEvf+eMk0ZVLf3P9mAOTOcqI=
  dist: ${DISTRO}/${OS_VERSION}
  skip_cleanup: true
  local-dir: omnibus/pkg/

notifications:
  slack:
    secure: "dKHhMOyQWZtaZZeaBgOvgk5natVRelxMcryvmjeqG/odTCfJXCD5geodYPsGLmkvA1qRdplGsGRmJnYEsUHeGTpUh3rlUd+j9iQ+pDcSD7d9EisL0lQji/DFek85NcMAXtiyNeKio5aukNXbGJT1cY4oHv/H2agk2TPC6hMKdDUk5hTpDKk4SAeHqpPYQzA5kthCCO+0y5Eh8zW5fiiH8FN+eID4FTt110bPDz3mNC4tzKExWw18dSB5m8ZxFQKQID8ZRedesBsGBdn4TMRObhjSwQOXIrV/Dif6BZjadA9MNoBvcQT6pCTmc4z0UVFR6MRVrIPwiIqaVI7jKp1ZUtVPVEa+Fui0TwRRSxPb78SCjKHc2jaVgsdxDE9Hk+0CXpZTUC4QG4+vBL0c4Ile2/qlhEXfIth6uOwzxyoNJ2zwxZarKpw3YvLKg23g7ZxfjAAGg4S8VUsNcaiSfGbSPAqQNa63KribP2Rp9/3IBNbuKwYvHyS8CxcAstTIKZkZg5BvRhDb1sv1UAyLum0qLI7e2Oz3SBAO+9ejoV5gnxl7iab89bg5XxuJiSjtcbwT3TNJ34ZdtWh/vnOjsz68DG71dK9VQ4rzg4/gpMY3YWARbKc/GTNUhBOeTtH0tmKWLEATP4VIHinu+QuBzs/9QlGqy1LhB2Ct4XkXPL3uMEk="
