#@IgnoreInspection BashAddShebang
azure-core ~= 1.24
azure-storage-blob ~= 12.19
Click ~= 8.1
PyMySQL ~= 1.0
boto3 ~= 1.7
psutil ~= 5.4
pyasn1 ~= 0.4
datadog ~= 0.22
paramiko ~= 2.5
google ~= 3.0
google-cloud-storage ~= 2.3.0
statsd ~= 3.3
statsd-tags ~= 3.2
