#@IgnoreInspection BashAddShebang
Click ~= 7.0
PyMySQL ~= 0.9
boto3 ~= 1.7
psutil ~= 5.4
contextlib2 ~= 0.5
pyasn1 ~= 0.4
datadog ~= 0.22
# Paramiko version 2.4.2 is buggy. See
# https://github.com/paramiko/paramiko/issues/1386
# https://github.com/paramiko/paramiko/issues/1369
paramiko ~= 2.4
cryptography ~= 3.3
google ~= 2.0
google-cloud-storage ~= 1.15.0
statsd-tags==3.2.1.post1
