bumpversion
flake8
tox
pytest
mock
coverage
codecov
pytest-cov
pytest-timeout
Sphinx
unittest2
moto
pylint==1.6.5
pycodestyle
# Pinning due to a bug https://github.com/rtfd/readthedocs.org/issues/3999
docker<3.4.0
python-magic
