#@IgnoreInspection BashAddShebang
black ~= 22.3
Sphinx ~= 4.5
bumpversion ~= 0.6
codecov ~= 2.0
docker ~= 3.5
mock ~= 4.0
moto ~= 3.1
pycodestyle ~= 2.3
pylint ~= 2.13
pytest ~= 7.1
pytest-cov ~= 3.0
pytest-timeout ~= 2.1
python-magic == 0.4.18
yamllint ~= 1.23
